/*
 * Base stylesheet
 *
 * Copyright (c) 2013 Janne Seppänen, Antti Ranta, Matias Ylipelto
 * Licensed under the terms of the MIT License.
 */

body
{	
	background: #F2F1ED;
	font: 400 87.5%/1.7857 Asap, Arial, sans-serif;
	font-family: Asap, Arial, sans-serif;
	font-size: 87.5%;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	color: #39383a;
}

a, a:link {
	color: #CC0000;
	/*text-decoration:none;*/
}

/*a:hover, a:active {
	color: #39383a;
}*/

h3 {
	font-size:18px;
}


table 
{
	border-collapse: collapse;
}

tr.even td
{
	background:#ededed;
}

tr.odd td
{
	background:#fff;
}

tr.group td
{
	background:#e9e9e5;
	border-top:solid 2px #e1e1dc;
	border-bottom:solid 1px #cecdca;
}

a.collapse_btn
{
	color: #000000;
	text-decoration:none;
}

a.white_link
{
	color: #FFFFFF;
}

label
{
	font-weight: bold;	
}

#mainContainer
{		
	background: #FFFFFF;
	min-height: 400px;
}

#headerContainer
{
	background: #39383a;
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
	border-radius: 5px 5px 0px 0px;
}

#footerContainer
{
/* 	position:absolute; */
/* 	bottom:0; */
/* 	left:0; */
/* 	min-height:170px; */
/* 	border-top: 3px solid #9BBFD6; */
/* 	background: #4A86E8; */
	background: no-repeat center;
}

#adminFooterContainer
{
	background-color: #FFFFFF;
}

#languageSelector
{
	text-align: right;
	padding-top: 0.5em;
}

#languageSelector a
{
	color: #FFFFFF;
	text-decoration: none;	
}

#languageSelector a.langSelected
{
	text-decoration: underline;
}

#leftMenu ul 
{
	padding-left: 0px;
}

#leftMenu ul li 
{
	list-style-type: none;
	background: #39383a;
	padding: 5px 0px 5px 5px;
	margin-bottom: 5px;
}

#leftMenu ul li a 
{
	color: #FFFFFF;	
}

#adminMenu ul 
{
	padding-left: 0px;
}

#adminMenu li.lh
{
    color: #FFFFFF;	
	list-style-type: none;
	background: #39383a;
	padding: 5px 0px 5px 5px;
}


#adminMenu li.lh_top
{
	font-size: 100%;
    color: #FFFFFF;	
	list-style-type: none;
	background: #39383a;
	padding: 5px 0px 5px 5px;
	border-radius: 5px 5px 0px 0px;
}

#adminMenu li.lh_bottom
{
	font-size: 100%;
    color: #FFFFFF;	
	list-style-type: none;
	background: #FFFFFF;
	padding: 5px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	border-bottom: 3px solid #39383a;
}

#adminMenu li.lh_caption
{
	font-size: 100%;
    color: #FFFFFF;	
	list-style-type: none;
	background: #39383a;
	padding: 5px 0px 5px 5px;
}


#adminMenu ul li 
{
	list-style-type: none;
	background: #FFFFFF;
	padding: 5px 0px 5px 5px;
	border-right: 3px solid #39383a;
	border-left: 3px solid #39383a; 
}

#adminMenu ul li a 
{
	color: #39383a;	
}

#mainContents
{	
	margin: 15px 0px 25px 0px;
}

/* Tables */
.loginInformation th
{
	text-align: left;
	padding-right: 20px;
}

.editListTable
{
	width: 100%;
	border-width: 3px 3px 3px 3px;
	border-style: solid;
	border-color: #39383a;	
}

.editListTable th 
{
	text-align: left;
	color:#ffffff;
	background:#39383a;
}

.editListTable td, .editListTable th 
{
	padding: 5px;		
}

.editListTable tr.odd td
{
	background:#FFFFFF;
}

.editListTable tr.even td
{
	background:#EDEDED;
}

.paginationTable
{
	margin-bottom: 0px;
}
.paginationTable td
{
	background: #39383a;	
	color: #FFFFFF;
	border-width: 3px 3px 0px 3px;
	border-style: solid;
	border-color: #39383a;
	font-weight: bold;
	padding: 0px 8px;		
}
.paginationTable td a
{
	color: #FFFFFF;
	text-decoration: none;
}
.paginationTable .currentPage
{
	background:#FFF;
	
	color: #333333;
	
}
.paginationTable .dimmed
{
	color: #BBB;
}

.candidateTable 
{
	width: 100%;
	border-width: 3px 3px 3px 3px;
	border-style: solid;
	border-color: #39383a;
}

.candidateTable th
{	
	text-align: left;
	color:#ffffff;
	background:#39383a;
	padding-left: 6px;
}

.candidateTable span.candidateRadio 
{
	display: block;
	align: left;
	float: left;
	width: 32px;
	line-height: 33px;
}

.candidateTable td label 
{
	line-height:200%;
   	font-weight: bold;
}

.candidateTable td label span 
{
	display: block;
	padding-right: 6px;
	align: left;
	float: left;
}


/* Text box suggestions */
div.suggestions {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid black;
    position: absolute;
}

div.suggestions div {
    cursor: default;
    padding: 0px 3px;
}

div.suggestions div.current {
    background-color: #3366cc;
    color: white;
}

/* Message styles */
.successMsgDiv
{
	margin: 0px 0px 5px 0px;
	padding: 5px 5px 5px 5px;
	border: 3px #429535 solid;
	background: #D1F2CB;	
}

.errorMsgDiv
{
	margin: 0px 0px 5px 0px;
	padding: 5px 5px 5px 5px;
	border: 3px #F33A3A solid;
	background: #F9C8C8;	
}

.positiveMsg
{
	font-weight:bold;
	color: #429535;
}

.negativeMsg
{
	font-weight:bold;
	color: #F33A3A;
}

/* Forms */
.buttonLink {
        display: block;
        float: left;
        width: 100px;
        height: 20px;
        background: #39383a;
        padding: 10px;
        margin-right: 20px;
        text-align: center;
        text-decoration: none;
        text-shadow: 1px 1px #333333;
        border-radius: 2px;
        color: #FFFFFF !important;
        font: 400 87.5%/1.7857 Asap, Arial, sans-serif;
        line-height: 20px;
}

.buttonSubmit
{
        width: 120px;
        height: 40px;
        background: #39383a;
        padding: 10px;
        margin-right: 20px;
        text-align: center;
        text-decoration: none;
        text-shadow: 1px 1px #333333;
        border: 0px;
        border-radius: 2px;
        color: #FFFFFF !important;
     	font: 400 87.5%/1.7857 Asap, Arial, sans-serif;
        line-height: 20px;
        cursor:pointer;
}

.button_add {
	float: left;
	width: 133px;
	height: 34px;
	background: #A8A2A4;
	text-align: center;
	text-shadow: 1px 1px #666666;
	border: 0px;
	font: 400 87.5%/1.7857 Asap, Arial, sans-serif;
	color: #FFFFFF;
	line-height: 16px;
	cursor:pointer;
	margin-left: 10px; 
}

.button_custom {
	margin-left: 5px; 
	margin-top: 3px; 	
}

.buttonHolder
{
        text-align: right;
}

.loginForm
{
        background: none repeat scroll 0 0 #FFFFFF;
        border-radius: 2px;
        box-shadow: 0 0 8px 2px #D1D1D1;
        overflow: hidden;
        width: 490px;
}

.loginTitle
{
        background: #39383a;
        border-bottom: 1px solid #DDDDDD;    
        color: #FFFFFF;
        font-weight: bold;
        padding: 10px;
        text-shadow: 1px 1px #333333;
}

.loginRow
{
        border-bottom: 1px solid #DDDDDD;
        margin: 20px;
        overflow: hidden;
}

.loginLabelDiv
{
	float: left;
    height: 50px;
    line-height: 28px;
    width: 140px;
    text-align: right;
    padding-right: 20px;
}

.loginLabelDiv label
{
	color: #555555;
}

.loginInputDiv
{
	float: left;
        height: 50px;
        width: 290px;	
}

.loginInputDiv input
{
	border: 2px solid #C7C7C7;
        border-radius: 6px 6px 6px 6px;
        color: #555555;
        height: 18px;
        line-height: 18px;
        padding: 5px;
        width: 200px;
}

.loginButtonDiv
{
	background: none repeat scroll 0 0 #F1F1F1;
    border-top: 1px solid #DDDDDD;
    padding: 10px 0px 10px 10px;
    text-align: right;
}

.editFormDiv
{
	color: #666666;	
}

.editFormDiv fieldset
{
	border:3px solid #CCCCCC;		
	padding: 20px 0px;
	margin:0px;	
}

.editFormDiv legend
{	
	margin-left:10px;	
	padding: 5px 10px;	
	background: #39383a;	
	color: #FFFFFF;
	font-weight: bold;
	text-shadow: 1px 1px #666666;
}

.editLabelDiv {	
	float:left;
	width:200px;
	text-align:right;	
	clear:left;
	padding: 10px 5px 10px 0px;
	margin-top:	5px;
}

.editInputDiv
{
	float:left;
	clear:right;
	width: 470px;
	padding: 10px 5px 10px 10px;	
}

.editInputDiv .inputText
{		
	display:block;	
	float:left;
	border: 2px solid #C7C7C7;
        border-radius: 6px 6px 6px 6px;
        color: #555555;
        height: 18px;
        line-height: 18px;
        padding: 5px;
        margin-bottom: 0px;
        width: 250px;
}

.editInputDiv .inputSelect
{		
	display:block;	
	float:left;
        color: #555555;
	border: 2px solid #C7C7C7;
        border-radius: 6px 6px 6px 6px;
        line-height: 18px;
        margin-bottom: 0px;
        width: 250px;
	padding: 5px;
}

.editInputDiv .inputCheckBox
{		
	height: 26px;
}

.editFieldError {
	display:block;	
	float:left;	
	margin-top: 5px;
	padding-left: 15px;
	width: 190px;
	font-weight:bold;
	color: #F33A3A;
}

.editSpacerDiv 
{
	float: left;
	clear: both;
	width: 640px;
	heigth: 20px;
	margin: 0px 30px;
	border-bottom: 2px dotted #A8A2A4;	
}

.editSubmitButton 
{	
	float: left;
	width: 100px;
	height: 34px;
	background: #39383a;
	margin-right: 20px;
	text-align: center;
	text-shadow: 1px 1px #666666;
	border: 0px;
	font: 400 87.5%/1.7857 Asap, Arial, sans-serif;
	color: #FFFFFF !important;
	line-height: 16px;
	cursor:pointer;
}

.editLinkButton 
{
	display: block;
	float: left;
	width: 80px;
	height: 14px;
	background: #39383a;
	padding: 10px;
	margin-right: 20px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px #666666;
	font: 400 87.5%/1.7857 Asap, Arial, sans-serif;
	color: #FFFFFF !important;
	line-height: 16px;
}

.searchField
{
	height: 22px;
	width: 220px;
    border: 3px solid #39383a;
    vertical-align:bottom;
    background: #FFFFFF;
    padding: 0px 5px;
}

.searchButton
{
	width: 55px;
	height: 28px;
	vertical-align:bottom;
	line-height: 16px;
	background: #39383a;
	color: #FFFFFF;
	border: none;
	text-align: center;
	font: 400 87.5%/1.7857 Asap, Arial, sans-serif;
}

/* Text styles */
.candidateBig
{
	font-weight: bold;
	font-size: 1.5em;
	padding-left: 25px;
}

.blueLink, .blueLink a
{
	color: #3F66A6;
}

/* Border styles */
.noBottomBorder 
{
	border-bottom: 0 none;
}

h2 
{
font-size: 1.7em;	
}

.spanFormat
{
  text-align: left;
  display: table-cell;
  min-width: 10px;
  padding-right: 10px;
}